# UE4 Project directories to ignore
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/Build/

# UE4 Project Plugins directories to ignore
/Plugins/*/Binaries/
/Plugins/*/Intermediate/

# Visual Studio solutions
/*.sln
/*.sdf
/*.opensdf
/*.suo

# Linux Project files
/*.pro
/*.kdev4
/CMakeLists.txt
/Makefile

# Xcode Project files
/*.xcodeproj

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
